/* Ensure the map takes up the full height */
body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* Legend container styles */
.info.legend {
  position: absolute; /* Keep it positioned relative to the map */
  bottom: 20px; /* Adjust position */
  right: 5px; /* Adjust position */
  padding: 10px;
  background: white; /* White background for better readability */
  line-height: 0;
  border-radius: 5px; /* Rounded corners */
  font-family: Arial, sans-serif;
  font-size: 14px;
  z-index: 1000; /* Ensure it stays above other map elements */
}



/* Individual legend items */
.legend-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 5px;
}

/* Square color boxes in the legend */
.legend-item i {
  display: inline-block;
  width: 12px; /* Adjust width for the color box */
  height: 12px; /* Adjust height for the color box */
  margin-right: 8px; /* Spacing between color box and text */
}
